<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
      <title>Nutrition India</title>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">


  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->


  <!-- Google Fonts -->
   <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Flexor - v2.4.1
  * Template URL: https://bootstrapmade.com/flexor-free-multipurpose-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-none d-lg-block" style="background-color: white;">


        <div  class="d-flex align-items" >

            <div class="p-2" > <img src="{% static 'images/mhf.png' %} " width="278" height="71" style="atsc-nav-down:50px">
             </div>

              <div class="ml-auto p-2"> <img src="{% static 'images/pa.png' %}" width="110" height="80" ></div>
               </div>
         </div>


  </section>

  <!-- ======= Header ======= -->

        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
    <div class="carousel-inner" style="background-color: transparent">
    <div class="carousel-item active">
<div class="card bg-light text-white">
  <img class="" src="{% static 'images/group_study-5.jpg' %}" alt="Card image">
  <div class="card-img-overlay">

      <img src="{% static 'images/nutrition_banner.png' %} " width="250" height="70" style="atsc-nav-down:50px">

    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text">Last updated 3 mins ago</p>
  </div>
</div>
    </div>
    <div class="carousel-item">
<div class="card bg-light text-white">
  <img class="bx-radio-circle-marked" src="{% static 'images/mothersfeeding-1.jpg' %}"alt="Card image">
  <div class="card-img-overlay">
            <img src="{% static 'images/nutrition_banner.png' %} " width="250" height="70" style="atsc-nav-down:50px">

    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text">Last updated 3 mins ago</p>
  </div>
</div>
    </div>

       <div class="carousel-item">
<div class="card bg-dark text-white">
  <img class="card-img" src="{% static 'images/motherwithbaby-2.jpg' %}" alt="Card image">
  <div class="card-img-overlay">
            <img src="{% static 'images/nutrition_banner.png' %} " width="250" height="70" style="atsc-nav-down:50px">

    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text">Last updated 3 mins ago</p>
  </div>
</div>
    </div> <div class="carousel-item">
<div class="card bg-dark text-white">
  <img class="card-img"src="{% static 'images/fatherwithbaby-3.jpg' %}"alt="Card image">
  <div class="card-img-overlay">
            <img src="{% static 'images/nutrition_banner.png' %} " width="250" height="70" style="atsc-nav-down:50px">

    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text">Last updated 3 mins ago</p>
  </div>
</div>
    </div> <div class="carousel-item">
<div class="card bg-dark text-white">
  <img class="card-img" src="{% static 'images/childrenwithteacher-4.jpg' %}" alt="Card image">
  <div class="card-img-overlay">
            <img src="{% static 'images/nutrition_banner.png' %} " width="250" height="70" style="atsc-nav-down:50px">

    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text">Last updated 3 mins ago</p>
  </div>
</div>
    </div>


  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
 <header id="header"  style="background-color:rgba(239,178,64,0.87); height:140px " >
    <div  class="container d-flex">

      <div class="logo mr-auto">
        <h1 ><a  href="#header"><span style="color: black">LifeCycles</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block" >
        <ul style="text-decoration-color: black">
{#          <li class="active"><a style="color: black" href="#header">Home</a></li>#}

          <li><img width="100" height="100" class="rounded-circle" src="{% static 'icon/adolescence.png' %}">
              <a style="color: black; "href="#about">Adolescence</a></li>
          <li>
              <img width="100" height="100" class="rounded-circle" src="{% static 'icon/delivery_PNC.png' %}"><a style="color: black"href="#services">Delivery/PNC</a></li>
          <li>
              <img width="100" height="100" class="rounded-circle" src="{% static 'icon/early_childhood.png' %}"><a style="color: black"href="#portfolio">Early Childhood</a></li>
          <li>
              <img width="100" height="100" class="rounded-circle" src="{% static 'icon/preconception.png' %}"><a style="color: black" href="#team">Preconception</a></li>
          <li>
              <img width="100" height="100" class="rounded-circle" src="{% static 'icon/pregnancy.png' %}"><a style="color: black"href="#pricing">Pregnancy</a></li>
            <li>
                <img width="100" height="100" class="rounded-circle" src="{% static 'icon/school_age.png' %}"><a style="color: black"href="#contact">School age</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->


  <main id="main">

    <!-- ======= Why Us Section ======= -->


    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg" style="background: antiquewhite">
      <h3 style="padding-left: 25px; ">Adolescence</h3>
    <div class="card bg-transparent text-center" >
        <img style="padding-top: 25px; padding-left: 25px" width="200" height="200" class="rounded-circle" src="{% static 'icon/adolescence.png' %}">

  <div class="card-img-overlay">
    <h5  class="card-title">Card title</h5>
    <p  class="card-text">
      This is a wider card with supporting text below as a natural lead-in to additional
      content. This content is a little bit longer.
    </p>
    <p class="card-text">Last updated 3 mins ago</p>
  </div>
</div>
{#    card start#}


        <div class="row">

{#      first card      #}
  <div class="col-lg-4 col-md-6  mt-4 mt-lg-0">
    <div class="box">

        <div class="pricing">
             <h4>Manifestation</h4>
              <p> Information about 3 ohases and indetail explaination with 10 diffrenet urls </p>


                  <div class="btn-wrap">
                      <a  class="btn-buy" href="/dashboard" >Aneamia</a>
                  </div>
                  <div class="btn-wrap">
                   <a class="btn-buy" href="#" role="button">Family Planing</a>
                  </div>
                  <div class="btn-wrap">
                     <a class="btn-buy"href="#" role="button">Dibetic risk</a>
                  </div>
                  <div class="btn-wrap">
                  <a class="btn-buy" href="#" role="button">Diet </a>
                  </div>
                  <div class="btn-wrap">
                      <a class="btn-buy"href="#" role="button">Hypertension</a>
                  </div>
                  </div>




             <div class="pricing">

                  <div class="btn-wrap">
                     <a class="btn-buy" href="#" role="button">Ca cunsumption</a>
                  </div>
                  <div class="btn-wrap">
                     <a class="btn-buy" href="#" role="button">Use of MCP card</a>
                  </div>
                  <div class="btn-wrap">
                      <a class="btn-buy"href="#" role="button">At List 4ANC visits</a>
                  </div>
                  <div class="btn-wrap">
                        <a  class="btn-buy"href="#" role="button">IFA Cunsumption</a>
                  </div>
                  <div class="btn-wrap">
                        <a  class="btn-buy"href="#" role="button">IF SuplimentsA</a>
                  </div>
                  </div>

              </div>


    </div>





{#            second card#}
  <div class="col-lg-4 col-md-6  mt-4 mt-lg-0">
    <div class="box">


        <div class="pricing">
<h4>Intervention</h4>
              <p> Information about 3 ohases and indetail explaination with 10 diffrenet urls </p>


                  <div class="btn-wrap">
                      <a  class="btn-buy" href="#" >Animia >></a>
                  </div>
                  <div class="btn-wrap">
                   <a class="btn-buy" href="#" role="button">Family Planing</a>
                  </div>
                  <div class="btn-wrap">
                     <a class="btn-buy"href="#" role="button">Dibetic risk</a>
                  </div>
                  <div class="btn-wrap">
                  <a class="btn-buy" href="#" role="button">Diet </a>
                  </div>
                  <div class="btn-wrap">
                      <a class="btn-buy"href="#" role="button">Hypertension</a>
                  </div>
                  </div>




             <div class="pricing">

                  <div class="btn-wrap">
                     <a class="btn-buy" href="#" role="button">Ca cunsumption</a>
                  </div>
                  <div class="btn-wrap">
                     <a class="btn-buy" href="#" role="button">Use of MCP card</a>
                  </div>
                  <div class="btn-wrap">
                      <a class="btn-buy"href="#" role="button">At List 4ANC visits</a>
                  </div>
                  <div class="btn-wrap">
                        <a  class="btn-buy"href="#" role="button">IFA Cunsumption</a>
                  </div>
                  <div class="btn-wrap">
                        <a  class="btn-buy"href="#" role="button">IF SuplimentsA</a>
                  </div>
                  </div>

              </div>


    </div>

{#        3rd card#}
            <div class="col-lg-4 col-md-6  mt-4 mt-lg-0">
    <div class="box">

              <div class="pricing">

<h4>Immediate and underline Determinants</h4>
              <p> Information about 3 ohases and indetail explaination with 10 diffrenet urls </p>

                  <div class="btn-wrap">
                      <a  class="btn-buy" href="#" >Animia >></a>
                  </div>
                  <div class="btn-wrap">
                   <a class="btn-buy" href="#" role="button">Family Planing</a>
                  </div>
                  <div class="btn-wrap">
                     <a class="btn-buy"href="#" role="button">Dibetic risk</a>
                  </div>
                  <div class="btn-wrap">
                  <a class="btn-buy" href="#" role="button">Diet </a>
                  </div>
                  <div class="btn-wrap">
                      <a class="btn-buy"href="#" role="button">Hypertension</a>
                  </div>
                  </div>




             <div class="pricing">

                  <div class="btn-wrap">
                     <a class="btn-buy" href="#" role="button">Ca cunsumption</a>
                  </div>
                  <div class="btn-wrap">
                     <a class="btn-buy" href="#" role="button">Use of MCP card</a>
                  </div>
                  <div class="btn-wrap">
                      <a class="btn-buy"href="#" role="button">At List 4ANC visits</a>
                  </div>
                  <div class="btn-wrap">
                        <a  class="btn-buy"href="#" role="button">IFA Cunsumption</a>
                  </div>
                  <div class="btn-wrap">
                        <a  class="btn-buy"href="#" role="button">IF SuplimentsA</a>
                  </div>
                  </div>

              </div>


    </div>


    </div>


    </section><!-- End About Section -->

    <!-- ======= Clients Section ======= -->


    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg" style="background: antiquewhite">
       <h3 style="padding-left: 25px;">Delivery</h3>
    <div class="card bg-transparent text-center">
              <img class="rounded-circle" style="padding-top: 25px; padding-left: 25px" width="200" height="200"src="{% static 'icon/delivery_PNC.png' %}"><a style="color: black"href="#services">Delivery/PNC</a></li>

  <div class="card-img-overlay">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      This is a wider card with supporting text below as a natural lead-in to additional
      content. This content is a little bit longer.
    </p>
    <p class="card-text">Last updated 3 mins ago</p>
  </div>
</div>
{#    card start#}

    <div class="d-flex justify-content-around">
        <div class="card-deck">
        <div class="row">

{#      first card      #}
  <div class="cols-xl-6" style="max-width: 25rem">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <div style="padding:initial;" class="d-flex justify-content-around">
          <div class="col-sm-3"  >
          <a href="#" class="btn btn-primary btn-sm">somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
              </div>

         <div class="col-sm-3">
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
             </div>

          </div>
    </div>



  </div>
  </div>

{#            second card#}
  <div class="cols-xl-6" style="max-width: 25rem">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
         <div style="padding:initial;" class="d-flex justify-content-around">
          <div class="col-sm-3" >
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
              </div>

         <div class="col-sm-3">
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
             </div>

          </div>
      </div>
    </div>
  </div>

{#        3rd card#}
        <div class="cols-xl-6" style="max-width: 25rem;">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <div style="padding:initial;" class="d-flex justify-content-around">
          <div class="col-sm-3" >
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
              </div>

         <div class="col-sm-3">
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
             </div>

          </div>
      </div>
    </div>
  </div>


</div>
</div>

</div>

</div>

    </section><!-- End Services Section -->

    <!-- ======= Values Section ======= -->


    <!-- ======= Testimonials Section ======= -->


    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio" style="background: antiquewhite">
       <h3 style="padding-left: 25px;">Early childhood</h3>
    <div class="card bg-transparent text-center">
              <img class="rounded-circle"style="padding-top: 25px; padding-left: 25px" width="200" height="200"src="{% static 'icon/early_childhood.png' %}"><a style="color: black"href="#portfolio">Early Childhood</a></li>

  <div class="card-img-overlay">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      This is a wider card with supporting text below as a natural lead-in to additional
      content. This content is a little bit longer.
    </p>
    <p class="card-text">Last updated 3 mins ago</p>
  </div>
</div>
{#    card start#}

    <div class="d-flex justify-content-around">
        <div class="card-deck">
        <div class="row">

{#      first card      #}
  <div class="cols-xl-6" style="max-width: 25rem">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <div style="padding:initial;" class="d-flex justify-content-around">
          <div class="col-sm-3"  >
          <a href="#" class="btn btn-primary btn-sm">somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
              </div>

         <div class="col-sm-3">
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
             </div>

          </div>
    </div>



  </div>
  </div>

{#            second card#}
  <div class="cols-xl-6" style="max-width: 25rem">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
         <div style="padding:initial;" class="d-flex justify-content-around">
          <div class="col-sm-3" >
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
              </div>

         <div class="col-sm-3">
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
             </div>

          </div>
      </div>
    </div>
  </div>

{#        3rd card#}
        <div class="cols-xl-6" style="max-width: 25rem;">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <div style="padding:initial;" class="d-flex justify-content-around">
          <div class="col-sm-3" >
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
              </div>

         <div class="col-sm-3">
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
             </div>

          </div>
      </div>
    </div>
  </div>


</div>
</div>

</div>

</div>

    </section><!-- End Portfolio Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg" style="background: antiquewhite">
  <h3 style="padding-left: 25px;">Preconception</h3>
    <div class="card bg-transparent text-center">
              <img class="rounded-circle" style="padding-top: 25px; padding-left: 25px" width="200" height="200" src="{% static 'icon/preconception.png' %}"><a style="color: black" href="#team">Preconception</a></li>

  <div class="card-img-overlay">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      This is a wider card with supporting text below as a natural lead-in to additional
      content. This content is a little bit longer.
    </p>
    <p class="card-text">Last updated 3 mins ago</p>
  </div>
</div>
{#    card start#}

    <div class="d-flex justify-content-around">
        <div class="card-deck">
        <div class="row">

{#      first card      #}
  <div class="cols-xl-6" style="max-width: 25rem">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <div style="padding:initial;" class="d-flex justify-content-around">
          <div class="col-sm-3"  >
          <a href="#" class="btn btn-primary btn-sm">somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
              </div>

         <div class="col-sm-3">
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
             </div>

          </div>
    </div>



  </div>
  </div>

{#            second card#}
  <div class="cols-xl-6" style="max-width: 25rem">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
         <div style="padding:initial;" class="d-flex justify-content-around">
          <div class="col-sm-3" >
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
              </div>

         <div class="col-sm-3">
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
             </div>

          </div>
      </div>
    </div>
  </div>

{#        3rd card#}
        <div class="cols-xl-6" style="max-width: 25rem;">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <div style="padding:initial;" class="d-flex justify-content-around">
          <div class="col-sm-3" >
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
              </div>

         <div class="col-sm-3">
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
             </div>

          </div>
      </div>
    </div>
  </div>


</div>
</div>

</div>

</div>

    </section><!-- End Team Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing section-bg" style="background: antiquewhite">
       <h3 style="padding-left: 25px;">Pregnancy</h3>
    <div class="card bg-transparent text-center">
              <img class="rounded-circle"style="padding-top: 25px; padding-left: 25px" width="200" height="200" src="{% static 'icon/pregnancy.png' %}"><a style="color: black"href="#pricing">Pregnancy</a></li>

  <div class="card-img-overlay">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      This is a wider card with supporting text below as a natural lead-in to additional
      content. This content is a little bit longer.
    </p>
    <p class="card-text">Last updated 3 mins ago</p>
  </div>
</div>
{#    card start#}

    <div class="d-flex justify-content-around">
        <div class="card-deck">
        <div class="row">

{#      first card      #}
  <div class="cols-xl-6" style="max-width: 25rem">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <div style="padding:initial;" class="d-flex justify-content-around">
          <div class="col-sm-3"  >
          <a href="#" class="btn btn-primary btn-sm">somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
              </div>

         <div class="col-sm-3">
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
             </div>

          </div>
    </div>



  </div>
  </div>

{#            second card#}
  <div class="cols-xl-6" style="max-width: 25rem">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
         <div style="padding:initial;" class="d-flex justify-content-around">
          <div class="col-sm-3" >
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
              </div>

         <div class="col-sm-3">
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
             </div>

          </div>
      </div>
    </div>
  </div>

{#        3rd card#}
        <div class="cols-xl-6" style="max-width: 25rem;">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <div style="padding:initial;" class="d-flex justify-content-around">
          <div class="col-sm-3" >
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
              </div>

         <div class="col-sm-3">
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
             </div>

          </div>
      </div>
    </div>
  </div>


</div>
</div>

</div>

</div>

    </section><!-- End Pricing Section -->

    <!-- ======= F.A.Q Section ======= -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg" style="background: antiquewhite">
       <h3 style="padding-left: 25px;">School age</h3>
    <div class="card bg-transparent text-center">
                <img class="rounded-circle"style="padding-top: 25px; padding-left: 25px" width="200" height="200"  src="{% static 'icon/school_age.png' %}"><a style="color: black"href="#contact">School age</a></li>

  <div class="card-img-overlay">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      This is a wider card with supporting text below as a natural lead-in to additional
      content. This content is a little bit longer.
    </p>
    <p class="card-text">Last updated 3 mins ago</p>
  </div>
</div>
{#    card start#}

    <div class="d-flex justify-content-around">
        <div class="card-deck">
        <div class="row">

{#      first card      #}
  <div class="cols-xl-6" style="max-width: 25rem">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <div style="padding:initial;" class="d-flex justify-content-around">
          <div class="col-sm-3"  >
          <a href="#" class="btn btn-primary btn-sm">somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
              </div>

         <div class="col-sm-3">
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
             </div>

          </div>
    </div>



  </div>
  </div>

{#            second card#}
  <div class="cols-xl-6" style="max-width: 25rem">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
         <div style="padding:initial;" class="d-flex justify-content-around">
          <div class="col-sm-3" >
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
              </div>

         <div class="col-sm-3">
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
             </div>

          </div>
      </div>
    </div>
  </div>

{#        3rd card#}
        <div class="cols-xl-6" style="max-width: 25rem;">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <div style="padding:initial;" class="d-flex justify-content-around">
          <div class="col-sm-3" >
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
              </div>

         <div class="col-sm-3">
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
          <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
             </div>

          </div>
      </div>
    </div>
  </div>


</div>
</div>

</div>

</div>

    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
  <div class="footer-contact">
    <div class="d-flex justify-content-around" style="background-color: black">

  <div class="p-2" >  <img src="{% static 'images/nutrition_banner.png' %} " width="102" height="12" style="atsc-nav-down:50px">
            </div>
                    <div class="p-2" >
                          <img src="{% static 'images/unicef.png' %} " width="100" height="20" style="atsc-nav-down:50px">
                    </div>
         <div class="ml-auto p-2">
             <img src="{% static 'images/unicef1.png' %}" width="108" height="30" >
         </div>
         </div>

  </div><!-- End Footer -->
  </div>
  </footer>
  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
<!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery-sticky/jquery.sticky.js' %}"></script>
  <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>